#burger-content {
  display: none;
  width: 100%;
  #burger {
    z-index: 2;
    position: fixed;
    background-color: var(--text-light);
  }
}

@media screen and (max-width: 1050px) {
  #burger-content {
    display: block;
  }
}
