#form-container {
  @include flexColumn();
  gap: 2em;
  margin-bottom: 6em;

  button,
  textarea {
    margin: 0 auto;
    border: 3px solid var(--text-dark);
    border-radius: 12px;
    font-size: large;
    background-color: #001514;
    color: var(--text-dark);
    
  }

  button {
    padding: 1em 2em;
    cursor: pointer;
    transition: background-color ease-in-out 0.3s;

    &:hover {
      background-color: var(--text-dark);
      color: #001514;
      font-weight: 600;
    }
  }

  textarea {
    padding: 0.5em;
    resize: none;
    width: 40%;
  }

  ::placeholder {
    color: var(--text-dark);
    opacity: 0.8;
  }
}

@media screen and (min-width: 1597px) {
  #form-container {
    .input-normal,textarea {
      width: 50%;
    }
  }
}
