#content {
  padding-top: 5.4em;
  width: 80%;
  margin: 0 auto;

  #about {
    margin-bottom: 5em;

    h1 {
      display: inline-block;
      letter-spacing: 1px;
    }

    p {
      padding: 0.5em 0 0 0.5em;
      line-height: 1.3;
      font-size: larger;
    }
  }

  #skills {
    margin-bottom: 6em;

    #front {
      h4 {
        text-align: center;
        font-size: 1.3em;
        text-decoration: underline;
        text-underline-offset: 4px;
        font-weight: 500;
        margin: 3em 0;
      }
    }
  }

  #my-projects {
    margin-bottom: 6em;

    h3 {
      margin: 3em 0;
    }
  }

  #contact {
    h3 {
      margin: 4em 0;
    }
  }
}

@media screen and (min-width: 1597px) {
  #content {
    width: 50%;

    #about {
      p {
        padding-top: 1em;
      }
    }
  }
}


@media screen and (max-width: 650px) {
  #content {
    width: 90%;
  }
}