.nav-responsive {
  height: 100%;
  background-color: var(--text-light);
  width: 75%;
  
  #nav {
    height: 100%;
    @include flexColumn();
    justify-content: space-evenly;
    a {
      width: 75%;
      text-decoration: none;
      color: var(--text-dark);
      @include flex();
      justify-content: space-around;
      @include alignCenter();
      span {
        font-size: 1.15em;
      }
    }
    img {
      width: 25px;
    }
  }
}

.hidden{
  display: none;
  
}