#projet-content {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2em;
  justify-content: center;

  a {
    text-decoration: none;
    color: #333; /* Update color to a suitable dark color */
  }
}

.project {
  border: 3px solid #3498db; /* Add a border color */
  border-radius: 12px;
  width: 300px;
  margin: 0.5em;
  text-align: center;
  transition: transform 0.3s;
  padding-bottom: .8em;
  background-color: #fff; /* Add a background color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */

  &:hover {
    transform: scale(1.05);
  }

  img {
    width: 100%;
    max-height: 235px;
    object-fit: cover; /* Ensure the image covers the entire container */
    border-radius: 10px;
  }

  h4 {
    margin-top: 1em; /* Adjust spacing for the heading */
    color: #3498db; /* Add a color to the heading */
  }
}

@media screen and (max-width: 650px) {
  #projet-content {
    .project {
      width: 100%; /* Make projects full-width on small screens */
      max-width: 300px; /* Limit the maximum width */
    }
  }
}