#projet-content {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2em;
    justify-content: center;
  }
  
  .project {
    border: 3px solid rgb(247, 244, 244);
    border-radius: 12px;
    width: 300px;
    margin: 0.5em;
    text-align: center;
    transition: transform 0.3s;
    padding-bottom: .8em;
  
    &:hover {
      transform: scale(1.05);
    }
  
    img {
      width: 100%;
      max-height: 235px;
      border-radius: 10px;
    }
  
    h4 {
      color: rgb(247, 244, 244);
      margin-top: 0.5em;
      border-radius: 0 0 12px 12px;
    }
  }
  