#side-bar-container {
  width: 30%;
  @include flexColumn();
  align-items: center;
  border-right: 4px solid rgb(247, 244, 244);
  h1 {
    font-size: 1.9em;
  }
  h1,
  h2 {
    padding: 0.8em 0;
  }
  #avatar {
    img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
    }
  }
  #side-bar-flex{
    border: 2px solid;
    height: 100%;
  }

  #nav {
    @include flexColumn();
    gap: 4em;
    a {
      @include flex();
      align-items: center;
      gap: 1.7em;
      text-decoration: none;
      span {
        font-size: 1.4em;
        font-weight:normal
      }
    }
    img {
      width: 30px;
    }
  }
  #reseaux{
    @include flex();
    gap: 1em;
    img{
        width: 35px;
    }
  }
}
