#side-bar-container {
  position: fixed;
  width: 500px;
  height: 100vh;
  @include flexColumn();
  @include alignCenter();
  justify-content: space-around;
  border-right: 4px solid rgb(247, 244, 244);

  #avatar {
    img {
      width: 180px;
      height: 180px;
      border-radius: 50%;
    }
  }
  #nav {
    @include flexColumn();
    gap: 2.8em;
    margin-top: 1.3em;

    a {
      @include flex();
      @include alignCenter();
      gap: 1.2em;
      text-decoration: none;

      span {
        font-size: 1.4em;
      }
    }
    img {
      width: 30px;
    }
  }

  #reseaux {
    h3 {
      margin-bottom: 2em;
    }
    padding-bottom: 1em;
    #reseaux-items {
      @include flex();
      gap: 1.2em;
    }
    img {
      width: 35px;
    }
  }
}
