@mixin flex() {
  display: flex;
}
@mixin justifyCenter() {
  @include flex();
  justify-content: center;
}

@mixin alignCenter() {
  align-items: center;
}

@mixin justifyAlignCenter() {
  @include justifyCenter();
  align-items: center;
}

@mixin flexColumn() {
  @include flex();
  flex-direction: column;
}
