* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  object-fit: cover;
}
body {
  cursor: url("/public/cursor.png"), auto;
  background-color: #001514;
  color: rgb(247, 244, 244);
 
}

.dark-mode {
  background-color: #001514;
  color: rgb(247, 244, 244);
}

.light-mode {
  background-color:rgb(247, 244, 244) ;
  color: #001514;
}



#home-content {
  display: grid;
  grid-template-columns: 500px 1fr;
}

h3 {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.input-normal {
  border: 3px solid rgb(247, 244, 244);
  border-radius: 12px;
  padding: 1em;
  width: 40%;
  color: rgb(247, 244, 244);
  margin: 0 auto;
  font-size: large;
  background-color: #001514;
}

footer {
  border-top: 3px solid;
}

footer h2 {
  margin: 2em 0;
  text-align: center;
  word-spacing: 2px;
  font-weight: 500;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #001514;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(247, 244, 244);
  border-radius: 20px;
  border: 2px solid #001514;
}


@media screen and (min-width: 1597px) {
  h3 {
    font-size: 1.5em;
    font-weight:500;
  }
}

/*Font Nocifer */
